:root {
    --yellow: #ffc600;
  }

  html {
    color: #444;
    font-family: Cambria, Cochin, Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
  }

  p {
    line-height: 1.8;
  }

  img {
    max-width: 100%;
  }

  a {
    color: black;
    text-decoration: underline wavy var(--yellow);
  }

  h1,
  h2 {
    font-size: 80px;
    font-style: italic;
    font-weight: 100;
    margin: 0;
  }
  .post {
    display: grid;
    grid-template-columns: 3fr 12fr 5fr;
    max-width: 1000px;
    grid-gap:10px 50px;
    margin: 200px auto;
  }
  .post > * {
    grid-column: 2/-2;
  }
  .tip {
    background-color: #fafafa;
    padding:10px;
    grid-row: span 4;
    align-self: start;
  }
  .tip-right  {

grid-column: 3/-1;
border-left: 2px solid var(--yellow);


  }
  .tip-left {
   
    grid-column: 1/2;
    border-right: 2px solid var(--yellow);
    text-align: right;
  }

.post > figure {
    grid-column: 1/-1;
    margin: 0;
}
figcaption {
    font-size: 10px;
}
 .post > blockquote
 {
    grid-column: 1/-1;
    margin: 0;
    text-align: center;
    font-size: 60px;
    font-style: italic;

 }